.login1{
    color: rgb(255, 0, 0);
    text-align: center;
    background-image: url("https://www.google.com/imgres?q=mia%20khalifa&imgurl=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FM%2FMV5BZjA0MDgyYmItNzkzMC00OTM2LThlYzktMWMxZWU3ZGNkNDI3XkEyXkFqcGc%40._V1_FMjpg_UX1000_.jpg&imgrefurl=https%3A%2F%2Fwww.imdb.com%2Fes%2Fname%2Fnm7060064%2Fbio%2F&docid=JrboIwt8pjZi3M&tbnid=e19AkKSqTj7QWM&vet=12ahUKEwj8koSWgdSPAxVdrJUCHfW3LKIQM3oECBkQAA..i&w=1000&h=1000&hcb=2&ved=2ahUKEwj8koSWgdSPAxVdrJUCHfW3LKIQM3oECBkQAA") ;
    font-family: 'Franklin Gothic Medium';
}

.pixula{

    text-align: left;
}

.pixula2{

    text-align: left !important; 
}


.Register{
    color: rgb(255, 0, 0);
    text-align: center;
    background-image: url("") ;
    font-family: 'Franklin Gothic Medium';
}

.pixula{

    text-align: left;
}

.pixula3{

    text-align: left !important; 

}

.fixa{
    color:rgb(43, 255, 0);
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


