.login{
    color: rgb(0, 238, 247);
    text-align: center;
    background-image: url("") ;
    font-family: 'Arial';
}

.pixula{

    text-align: left;
}

.pixula2{

    text-align: left !important; 
}
